@font-face {
    font-family: 'Good Vibes Pro';
    src: url('GoodVibesPro.eot');
    src: url('GoodVibesPro.eot?#iefix') format('embedded-opentype'),
        url('GoodVibesPro.woff2') format('woff2'),
        url('GoodVibesPro.woff') format('woff'),
        url('GoodVibesPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

